@model ProjectAddViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .timer {
        font-size: medium
    }

    .field-title {
        font-size: larger;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }

    .small-text-normal {
        text-decoration: none;
        font-size: medium;
        font-weight: normal
    }

    .small-text-bold {
        text-decoration: none;
        font-size: medium;
        font-weight: bold
    }

    .small-text {
        font-size: medium;
    }
</style>
<div class="field-title offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 offset-sm-0 col-sm-12 offset-md-0 col-md-12">
    <p style="background-color: lightskyblue; border-radius: 5px;">Project Info</p>
</div>


<form method="post" enctype="multipart/form-data">
    <div class="field-title offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 offset-sm-0 col-sm-12 offset-md-0 col-md-12">
        <div class="col-12" style="background-color: lightskyblue; border-radius: 5px; padding-bottom: 10px;">
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Residential buiding, Industrial building..." />
                <span asp-validation-for="@Model.Name" class="text-danger small-text-normal"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.City"></label>
                <input asp-for="@Model.City" class="form-control" placeholder="Sofia, Plovdiv, Varna..." />
                <span asp-validation-for="@Model.City" class="text-danger  small-text-normal"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Address"></label>
                <input asp-for="@Model.Address" class="form-control"  />
                <span asp-validation-for="@Model.Address" class="text-danger  small-text-normal"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Deadline"></label>
                <input asp-for="@Model.Deadline" class="form-control" placeholder="31.08.2021" />
                <span asp-validation-for="@Model.Deadline" class="text-danger  small-text-normal"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control" id="desription" rows="4" placeholder="Project is..."></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger  small-text-normal"></span>
            </div>
        </div>
    </div>
    <div class="field-title offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 offset-sm-0 col-sm-12 offset-md-0 col-md-12" style="text-align: end;">
        <input type="file" asp-for="@Model.ImageUpload" id="file" accept="image/*" style="visibility: hidden; height: 10%; width: 10%" />
        <button class="btn btn-primary" id="files" onclick="document.getElementById('file').click(); return false;" style="margin-bottom: 15px; margin-top: 15px;">Add Project Photo</button>
        <input type="submit" class="btn btn-primary" value="Add" style="margin-bottom: 15px; margin-top: 15px;">
    </div>
</form>

@section Scripts {
    <partial name="~/Views/_ValidationScriptsPartial.cshtml" />
}
