@model AllProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

<div class="js-all-projects col-12">
    <form class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Search:</label>
        </div>
        <div class="col-auto">
            <input asp-for="@Model.SearchTerm" class="form-control">
        </div>
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Filter by City:</label>
        </div>
        <div class="col-auto">
            <select asp-for="@Model.CityFilter" class="js-city-filter form-control">
                @{
                    foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                }
            </select>

        </div>
    </form>

    <div class="row js-project-container">
        <partial name="~/Views/Projects/AllByCityPartial.cshtml" model="@Model.Projects" />
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-city-filter').change(function () {

                var city = $('.js-city-filter').val();

                console.log(city);

                $.get('/Projects/City',
                    {
                        city:city
                    },
                    function (data) {
                        $('.js-project-container').html(data);
                    });
            });
        });

    </script>
}
