@model OfferAddVIewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .timer {
        font-size: medium
    }

    .field-title {
        font-size: larger;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }

    .small-text-normal {
        text-decoration: none;
        font-size: medium;
        font-weight: normal
    }

    .small-text-bold {
        text-decoration: none;
        font-size: medium;
        font-weight: bold
    }

    .small-text {
        font-size: medium;
    }
</style>
<div class="row">
    <p class="field-title offset-3 col-6" style="background-color: lightskyblue; border-radius: 5px;">Offer</p>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="field-title offset-3 col-6" style="background-color: lightskyblue; border-radius: 5px; padding-bottom:10px">
            <div class="col-12" style="text-align:start; padding-left: 0px;">
                <span class="small-text-bold" style="text-align:start; padding-left: 0px;">Project: </span><span class="small-text" style="font-weight:normal">Жилищна сграда</span>
            </div>
            <div class="col-12" style="text-align:start; padding-left: 0px;">
                <span class="small-text-bold" style="text-align:start; padding-left: 0px;">City: </span><span class="small-text" style="font-weight:normal">Бургас</span>
            </div>
            <div class="col-12" style="text-align:start; padding-left: 0px;">
                <span class="small-text-bold" style="text-align:start; padding-left: 0px;">Address: </span><span class="small-text" style="font-weight:normal">Адрес на обекта</span>
            </div>
            <div class="col-12" style="text-align:start; padding-left: 0px;">
                <span class="small-text-bold" style="text-align:start; padding-left: 0px;">Investor: </span><span class="small-text" style="font-weight:normal">Виктор Величков</span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Price"></label>
                <div class="row" style="padding-left:15px;">
                    <input asp-for="@Model.Price" class="form-control col-lg-3 col-5" placeholder="500.00" style="text-align:end">
                    <span class="col-lg-9 col-7 small-text-bold" style="line-height: 50px; padding-left: 1%;">lv.</span>
                </div>
                <span asp-validation-for="@Model.Price" class="text-danger  small-text-normal"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control" id="desription" rows="4" placeholder="Project is..."></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger  small-text-normal"></span>
            </div>
        </div>
    </div>
    <div class="field-title offset-3 col-6" style="text-align: end;padding-right: 0px;padding-left: 0px;">
        <input asp-controller="Offers" asp-action="Add" formmethod="post" type="submit" class="btn btn-primary" value="Send" style="margin-top: 10px; margin-right: 0px; margin-left: 0px;">
    </div>
</form>

@section Scripts {
    <partial name="~/Views/_ValidationScriptsPartial.cshtml" />
}
